@import 'utilities.css';
:root{
    /*variables in CSS*/
    --primary:hsl(182, 63%, 53%);
    --dark: hsl(0, 0%, 9%);
    --pure: hsl(0, 0%, 100%);
    --ternary: hsl(0, 0%, 54%);
    --light:hsl(0, 0%, 95%);
    --secondary:hsl(0, 8%, 3%);

}

body{
    font-family: 'Poppins', sans-serif;
}

*{
    /*To reset the default style sheet of the borwser*/
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0,100% 100%, 70% 90%, 0 100% );
}

/*difference between padding and margin*/
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin:0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all .3s ease;

    -webkit-transition:all .3s ;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition: all .3s; 
}

header nav .left a:hover{
    color:hsl(182, 63%, 53%);
}

header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding:3rem 0;
}

.hero img{
    width:400px;
}

.info {
    color: hsl(0, 0%, 100%);
    margin-top: -10rem;
}

.info h6{
    font-size: 1.6rem;
    color:hsl(182, 63%, 53%);
    margin-bottom: 0.5rem;
}

.info h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.info h1 span{
    color:hsl(182, 63%, 53%);
}

.info p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section{
    padding:6rem 0;
}

section .about .about-me-img{
    height:450px;
}

section .about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
} 

section h1 span{
    color:hsl(182, 63%, 53%);
}

section .about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400px;
}

section .about p{
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 54%);
    line-height: 1.9;
    margin-bottom:2 rem;
}

section .about .social a{
    background:hsl(0, 0%, 9%);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section .about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

section .about .social a:hover{
    background: var(--primary);
}

.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
}

.section-heading span{
    color:hsl(182, 63%, 53%);
}
.section-heading +p{
    color:var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.container .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;

}