.flex{
    display:flex;
}

.items-center{
    align-items:center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    
    -webkit-transition:all .3s ;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition: all .3s; 
}

.btn-primary{
    background: hsl(182, 63%, 53%);;
    color:  hsl(0, 0%, 9%); 
}

.btn-primary:hover{
    background: transparent;
    border-color: hsl(182, 63%, 53%);
    color:hsl(182, 63%, 53%);
}

.btn-secondary{
    background: transparent;
    color: hsl(182, 63%, 53%);
    border-color: hsl(182, 63%, 53%);
}

.btn-secondary:hover{
    background: hsl(182, 63%, 53%);
    color: hsl(0, 0%, 9%);
}

.flex-1{
    flex:1;
}

.justify-center{
    justify-content: center;
}